<section>
    <h2 class="page-title" data-bind="text: title"></h2>

    <a href="#" class="pull-left" data-bind="click: addNew"><i class="icon-plus" title="Add new" /></a>
    <table class="table table-condensed table-striped table-hover span2">
        <thead>
            <tr>
                <th class="">Blog</th>
                <th class="span1"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: blogs">
            <tr>
                <td data-bind="text: name"></td>
                <td><a href="#" data-bind="    click: $parent.remove"><i class="icon-trash" /></a></td>
            </tr>
        </tbody>
    </table>
</section>
